node_modules/
client/node_modules/
server/node_modules/

.venv
.env
.env.local
client/.env
server/.env
data-analysis/.env

dist/
build/
client/dist/
server/dist/
data-analysis/.venv
data-analysis/__pycache__